/* =============================================================================
  BUREAU INTERMÉDIAIRE
   ========================================================================== */
@media
only screen and (min-width: 500px) and (min-device-width: 768px)
{
	#bureau { display: block;}
	#smartphone, #tablette, #intermediaire { display: none;}

	html, body {
		overflow-y:	hidden;
	}

	#main_wrapper {
		//max-width: 1600px;
		.divise(1,1, 0, none, none);
		//padding: 0 50px;
		//margin: 0 auto;

	}
	#main_nav {
		// max-width: 1480px;
		// display: block;
		// .divise(1,1, 0, none, none);
		// padding: 0 50px;
		// margin: 0 auto;
	}

	#secondmenu {
		float: right;
	}

	#secondmenu li#qtrans {
		border-left: 1px solid @black30;
		padding-left: @unit;
	}

	li#qtrans span {
		border: none;
		padding: 0;
		float: left;
	}

	li#qtrans .actif {
		display: none;
	}

	.maincontent {
		.divise(1,1, 200px, none, left);
		height: 100%;
	}

	.maincontent.txt {
		.divise(1,1, 200px, none, left);
		padding-right: 200px;
		background-color: white;
		overflow-y: hidden;
	}

	.maincontent.news, .maincontent.bio {
		.divise(1,1, 0, none, left);
		padding: 0;
		margin: 0 auto;
		background-color: white;
		overflow-y: hidden;
	}

	.news #txtwrapper {
		max-width: 500px;
		padding: @unit;
		margin:0;
		float:left;
	}

	.bio #txtwrapper {
		max-width: 700px;
		padding: @unit @unit/2 @unit @unit;
	}

	#txtwrapper {
		.box-sizing();
		position: relative;
		background-color: white;
		padding: @unit/1.5 @unit/3 @unit/1.5 @unit;
		max-width: 750px;
		margin: 0 auto;
		color: @black70;
		height: 100%;
		overflow-y: auto;
		
	}

	#btn-close {
		position: absolute;
		right: 0;
		top: 0;
		width: 13px;
		height: 13px;
		border: @unit solid white;
		background: @black60 url('img/btn-close.png') no-repeat center center;
	}

	#btn-close:hover {
		background: @hovercolor url('img/btn-close.png') no-repeat center center;
	}

	.news #txtwrapper {
		height: auto;
		padding-top:@unit;
	}

	#txtwrapper p {
		font-size:(12/@font-size)*1em;
		line-height: @line/10;
	}

	#txtwrapper *:first-child {
		margin-top: 0;
		padding-top: 0;
	}

	#txtwrapper p {
		font-size:(11/@font-size)*1em;
		line-height: @line/10;
	}

	#tools {
		.divise(1,1, 200px, none, left);
	}

	#displaying {
		float: right;
	}

	#sidebar {
		//.divise(1,5, 0, none, left);
		width: 200px;
		.box-sizing();
		position: absolute;
		padding-right: @unit;
		max-width: 250px;
		height: 100%;
		overflow-y: auto;
		background-color: @bgcolor;
		z-index: 5;
		//border-bottom: @unit solid @bgcolor;
	}

	#sidebarwrapper h3 {
		margin: 0;
		color: @black90;
	}

	#sidebarwrapper h4 {
		margin: 0;
		color: @black60;
	}

	#sidebar a {
		display: block;
		text-decoration: none;
		padding: @unit/1.5 0;
		border-top: 1px dotted @black30;
	}

	#sidebar a:first-child {
		border: 0;
	}

	#rightbar {
		//.divise(1,5, 0, none, left);
		width: 200px;
		.box-sizing();
		position: absolute;
		top: 0;
		right:0;
		padding: @unit/1.5;
		max-width: 250px;
		height: 100%;
		overflow-y: auto;
	}

	#rightbar a {
		display: block;
		padding-bottom: @unit;
	}

	#rightbar a.btn-pdf {
		border-bottom: 1px dotted @black30;
		padding-bottom: @unit/1.5;
		padding-top: 0;
		margin-bottom: @unit;
	}



	#mainbb, #main_nav {
		position:relative;
		.divise(16,18, 0, none, left);
		margin: 0 (1/18)*100%;
	}

	.nextprevworks {
		height : 80%;
		position:fixed;
		.divise(1,18, 0, none, left);
		display: none;
		//position: absolute;
	}

	.nextprevworks a {
		display: block;
		height: 100%;
		width: 100%;
	}

	#unfoldworks {
		.divise(1,18, 0, none, left);
		left: 0;
		display: none;
		height: 32px;
		bottom: @unit/3;
		left: 0;
		border-right: 1px solid @black10;
		position: fixed;

	}

	#unfoldworks a {
position: relative;
		display: block;
		width: 100%;
		height: 100%;
		text-align: center;
	}

	#unfoldworks a span {
		width: 19px;
		height: 16px;
		margin: 6px auto 0;
		display: block;
		background: @black30 url('img/btn-unfold.png') no-repeat center center;
	}

	#unfoldworks a.fold span {
		background: @black30 url('img/btn-fold.png') no-repeat center center;
	}

	#unfoldworks a:hover span {
		background-color: @black90;
	}



	#nextwork:hover, #prevwork:hover{
		opacity: 1;
	}	

	#nextwork {
		right:0;
		opacity: .15;
		background: url('img/chevron_droite.png') no-repeat center center;
	}

	#prevwork {
		left: 0;
		opacity: .15;
		background: url('img/chevron_gauche.png') no-repeat center center;
	}

	#timeline {
		width: 0%;
		float:left;
		margin-top : @unit;
		position: absolute;
		bottom:0;
	}

	#wraplist .segment:hover .sortitem {
		color: @black60;
	}

	#wraplist .segment:hover * a {
		border-top: 1px solid @black60;
	}

	#workslistmini {
	    position:relative;
	    background-color: @bgcolor;
	    bottom: 0;
	    width: 100%;
	    display:block;
	    margin:0 0 0 0;
	    white-space: nowrap;
	    overflow:hidden;
	}

	.st_wrapper {
	    width:100%;
	    overflow: hidden;
	}

	.st_thumbs{
	    margin: 0;
	    float: left;

	}

	#workslistmini a {
		position: relative;
		float: none;
		display: inline-block;  

		padding: @unit/4 0 0 0;
	}

	#workslistmini a:last-child {
		padding-right: 0;
	}

	#workslistmini .segment {
		border-top: 1px solid @black10;
		display: inline-block;
		position: relative;
		float: none;
		padding: @unit/4 0 0 0;
		margin-top: @unit/2;
	}

	#workslistmini .sortitem {
		top: -@unit/1.5;
		left: 0;
		padding: 0 0 0 0;
		background-color: @bgcolor;
		z-index: 9;
	}

	.thumb_color:hover img {
		opacity: 1;
	}

	.thumb_color img, .thumb_nb img {
		opacity: 0.4;
	}

}