/* =============================================================================
SMARTPHONES 
========================================================================== */
@media screen and (max-width: 768px) {
	#smartphone { display: block;}
	#tablette, #intermediaire, #bureau  { display: none;}	
}


@media only screen and (max-width: 500px) {
 	#smartphone { display: block;}
	#tablette, #intermediaire, #bureau  { display: none;}	
}

