<!-- template  pour textes sidebar -->
<div id="mobilesubmenu">
	<a data-bypass href="#">
		<h4>-- SELECT A TEXT --<span id="icon"></span></h4>
		
	</a>
</div>
<div id="sidebarwrapper">	
	 <% _.each(textes, function (texte, i) { %>
	 	<a class="btn" style="opacity:0" href="#<%= texte.get('type') %>/<%= texte.get('slug') %>">
		 	<h4 <% if (slug === texte.get('slug')) { %> class="actif" <% } %>><%= texte.get('title') %></h4>
		 	<h5>
		 	<% _.each(texte.get('auteurs'), function (auteur, i) { %>
		 		<%= auteur['prenom']+" "+auteur['nom'] %>
		 	<% }); %>
		 	</h5>
	 	</a>
	 <% }); %>
</div>