<!-- template pour la sidebar work -->
<h3><%= work.get('title') %>&nbsp;<span id="date">&mdash; <%= work.get('custom_fields')['_pinfos_annee'][0] %></span></h3>
<p id="description"><%= work.get('custom_fields')['_pinfos_description'] %></p>
<% if ( work.get('content').length > 10 )  { %>
	<h5><a id="toogletext">
	<% if(wp_vars.lang === "en") { %>
	<span id="down">&darr; read text</span><span id="up">&uarr; fold text</span></a></h5>
	<% } else { %>
	<span id="down">&darr; lire le texte</span><span id="up">&uarr; replier le texte</span></a></h5>
	<% } %>
<% } %>
<div id="text"><%= work.get('content') %></div>