	<div id="works_list"></div>
	<!-- template pour les works -->
	<script type="text/template" id="works_list_template">

	    <% _.each(works ,function(work){ %>
	        <h1><%= work.get("title") %></h1>
	        <p><%= _.escape(work.get("custom_fields")['_pinfos_description']) %></p>

              <% if (_.isEmpty(work.get('attachments')) === false) { %>
                    <img src='<%= work.get('attachments')[0]['images']['thumbnail']['url'] %>' />
              <% } %>  
              <hr>     
	    <% }); %>

	</script>