	<!-- template pour mainworks -->
<section id="tools">
<div id="hiddentitle"></div>
<a id="closefull" title="close" data-bypass href="#"></a>
	<nav id="navworks">
	<div id="subnavworks1">
 		<div id="unfoldworks" class="nextprevworks"><a data-bypass href="#"></a></div>
 		<div class="nextprevworks" id="indexworks"><a href="#works"></a></div>
 	</div>
 		<div id="subnavworks2">
 			<div class="nextprevworks" id="prevwork"><a  href=""></a></div>	
			<div class="nextprevworks" id="nextwork"><a href=""></a></div>
			<div id="btnfull"><a title="full window" data-bypass href="#"></a></div>
		</div>
	</nav>
</section>
<div id="wrapper">			
	<section id="sidebar">
		<h3></h3>
		<h4></h4>
		<p id='description'></p>
	</section>
	<section class="maincontent">
		<nav id="navgal"></nav>
			<div id="media">
				<div data-bypass id="ctn-media">
					<a data-bypass id="btn-media-next"></a>
					<a data-bypass id="btn-media-prev"></a>
					<figure id="visuel"></figure>
				</div>
			</div>
	</section>
</div>	